[Desktop Entry]
Name=Dumber
Comment=A minimal keyboard-driven browser for tiling WMs
Exec=env LANG=C.UTF-8 LC_ALL=C.UTF-8 dumber browse %U
Icon=dev.bnema.Dumber
Terminal=false
Type=Application
Categories=Network;WebBrowser;GTK;
Keywords=browser;webkit;wayland;tiling;keyboard;
StartupNotify=true
StartupWMClass=dumber
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
